{% extends "home.html" %}

{% block menu %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li ><a href="{% url 'crawl' hotel_name %}">Crawl</a></li>
    <li class="current_page_item"><a href="{% url 'ner' hotel_name %}">Keyword</a></li>
{% endblock %}


{% block title %}
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#"> <p>Co<span>mment</p></span></a></h1>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="keyword">
<ul>
  {% if id <= good_keyword_size %}
    {% for keyword in good_keyword_top5 %}
      {% if forloop.counter0 == id %}
        <li class="current_page_item"><a href="{% url 'top1' hotel_name forloop.counter0 %}">{{keyword}}</a></li>
      {% else %}
        <li ><a  class= advantage href="{% url 'top1' hotel_name forloop.counter0 %}">{{keyword}}</a></li>
      {% endif %}
    {% endfor %}

  {% endif %}


  
  
  {%if id > good_keyword_size  and id <= good_keyword_size|add:bad_keyword_size %} 
    {% for keyword in bad_keyword_top5 %}
      {% if forloop.counter|add:good_keyword_size == id %}
        <li class="current_page_item"><a href="{% url 'top1' hotel_name forloop.counter|add:good_keyword_size  %}">{{keyword}}</a></li>
      {% else %}
        <li ><a  class= disadvantage href="{% url 'top1' hotel_name forloop.counter|add:good_keyword_size %}">{{keyword}}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}


</ul>
</div>

{% endblock %}

{% block content %}

<div id="content">
  <div id="keyword">
    <ul>
      {%if id > good_keyword_size|add:bad_keyword_size or id is None %} 
        <li  class="current_page_item"><a href="{% url 'sidebar' hotel_name 2%}">All</a></li>
        <li><a href="{% url 'sidebar' hotel_name 1%}">Advantage</a></li>
        <li><a href="{% url 'sidebar' hotel_name 0%}">Disadvantage</a></li>
      {% elif id <= good_keyword_size  %}
        <li><a href="{% url 'sidebar' hotel_name 2%}">All</a></li>
        <li  class="current_page_item"><a href="{% url 'sidebar' hotel_name 1%}">Advantage</a></li>
        <li><a href="{% url 'sidebar' hotel_name 0%}">Disadvantage</a></li>
      {% else %}
        <li><a href="{% url 'sidebar' hotel_name 2%}">All</a></li>
        <li><a href="{% url 'sidebar' hotel_name 1%}">Advantage</a></li>
        <li class="current_page_item"><a href="{% url 'sidebar' hotel_name 0%}">Disadvantage</a></li>
      {% endif %}
    </ul>

  </div>

  <div id="keyword">
    <ul>
      {% for keyword in adj_top %}
        <li><a  href="{% url 'top2' hotel_name id forloop.counter0 %}">{{keyword}}</a></li>
      {% endfor %}
    </ul>
  </div>



  <head>
    <meta charset="utf-8" />
    <title>Client Side jQuery DataTables</title>
    <!--引用css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
  </head>

  <body>
    <table id="myDataTalbe"  class="display"  >
        <thead>

            <tr>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>

          {% for ground_truth,sen_label,comm in data %}
          <tr >  
              {% if sen_label == 0 %}
                {% if sen_label == ground_truth %}
                  <td style="background-color:rgb(255, 158, 158);" align="center"> 
                {% else %}
                  <td style="background-color:rgb(15, 255, 7);" align="center"> 
                    <span style="font-weight:bold;">
                      truth: {{ground_truth}}&nbsp;&nbsp;pred: {{sen_label}}&nbsp;&nbsp;
                    </span>
                {% endif %}
                  {% for token,label in comm %}
                    {% if label == "B-KEY" %}
                      <font color="red">{{token}}</font>
                    {% elif label == "B-ADJ" %}
                      <font color="blue">{{token}}</font>
                    {% else %}
                      {{token}} 
                    {% endif %}
                  {% endfor %}
                  
                  </td>
              {% elif sen_label == 1 %}
                {% if sen_label == ground_truth %}
                  <td style="background-color:rgb(158, 228, 255);" align="center">
                {% else %}
                  <td style="background-color:rgb(15, 255, 7);" align="center">
                    <span style="font-weight:bold;">
                      truth: {{ground_truth}}&nbsp;&nbsp;pred: {{sen_label}}&nbsp;&nbsp;
                    </span> 
                {% endif %}
                

                {% for token,label in comm %}
                    {% if label == "B-KEY"%}
                      <font color="red">{{token}}</font>
                    {% elif label == "B-ADJ" %}
                      <font color="blue">{{token}}</font>
                    {% else %}
                      {{token}}
                    {% endif %}
                {% endfor %}
              
                  </td>
              {% endif %}
          </tr>
          {% endfor %}
       
        </tbody>
    </table>
    <!--引用jQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!--引用dataTables.js-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
        $(function () {

            $("#myDataTalbe").DataTable({
                'ordering':false,
                searching: true, //關閉filter功能
                columnDefs: [{
                  // targets: [0],
                  // orderable: false,
                  "targets": 0,
                  "createdCell": function (td, cellData, rowData, row, col) {
                    if ( cellData < 1 ) {
                      $(td).css('color', 'red')
                    }
                  }
                }]
            });
        });
    </script>
  </body>

</div>

{% endblock %}